:root {
    --background: #1e1e2e;
    --text: #cdd6f4;
    --mantle: #181825;
    --surface: #313244;
    --accent: rgba(203, 166, 247,0.8) ;
    --accent-alt: rgba(137, 180, 250,0.8);
    --links: #89b4fa;

    --transform: translateY(-5px);
    --shadow: 0 15px 25px var(--accent);
    --transition:  all 0.3s ease; 
}

@font-face {
    font-family: "NerdFont";
    src: url("../assets/fonts/3270NerdFontPropo-Regular.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: NerdFont;
    scroll-behavior: smooth;
    background-color: var(--background);
    font-size: 18px;
    color: var(--text);

}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
    gap: 10px;
}
h1 {
    text-align: center;
    font-size: 2rem;
    word-wrap: break-word;
    color: var(--accent);
}
img {
    max-width: 100%;
    max-height: 300px;
    border: 3px solid var(--accent);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 20px;
    aspect-ratio: 1 / 1 ;
}
.imagem img {
    border-radius: 50%;
    width: 20vh;

}
 h3 {
    color: var(--links);
 }
a {
    text-decoration: none;
    color: var(--links);
}



.content {
    font-size: 18px;
}

section#home p {
    text-align: center;

}

.quote {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.quote a {
    text-decoration: none;
    color: var(--links);
}

blockquote {
    flex: 1;
    background-color: var(--mantle);
    border-radius: 20px;
    padding: 10px;
    transition: var(--transition);
    display: flex;
    font-size: 20px;
    max-width: 500px;
    margin: 30px;
}

 blockquote:hover {
    transform: var(--transform);
    transition: var(--transition);
    box-shadow: var(--shadow);
}



.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.card {
    margin: 10px;
    padding: 20px;
    background-color: var(--mantle);
    color: var(--text);
    border-radius: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 300px;
    transition: var(--transition);
}

.card:hover {
    transform: var(--transform);
    box-shadow: var(--shadow);
}